@using Domain.Entityes
@model IEnumerable<Product>
@{
    ViewBag.Title = "Футболки owl-flight";
}
<style>
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="row">
    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
        @Html.Action("Slider", "Home")
    </div>
        @foreach (var i in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="catalog" style="padding: 10px">
                    
                    <figure style="text-align: center;" class="btn" data-toggle="modal" data-target="#@("myModal"+i.ProductId)">
                        <img src="~/PhotoForDB/@i.Photo" title="@("футболка - " + i.Name)" alt="@("футболка - " + i.Name)" style="width: 90%; height: auto">
                        
                            <h3 class="myh3">@i.Name</h3>
                            <h4>@i.Price грн</h4>
                    </figure>
                        <div id="@("myModal"+i.ProductId)" class="modal fade" role="dialog" style="text-align: center;">
                            @Html.Partial("PartialSelling", i)
                        </div>
</div>
            </div>
    }
    @Html.Action("BasketOnView", "Basket")
</div>







