@using Domain.Entityes
@model IEnumerable<Product>
@{
    ViewBag.Title = "Головна";
}
<style>
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="row">
    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
        @Html.Action("Slider", "Home")
    </div>
        @foreach (var i in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="catalog" style="padding: 10px">
                    <figure style="text-align:center;">
                        <img src="~/PhotoForDB/@i.Photo" style="width: 90%; height: auto">
                        <figcaption>
                            <h3>@i.Name</h3>
                            <h4>@i.Price грн</h4>
                        </figcaption>
                    </figure>
                    <div id="modal_form" >
                        <span id="modal_close">X</span>
                        @Html.Partial("PartialSelling", i)
                    </div>
                </div>
            </div>
    }
    @Html.Action("BasketOnView", "Basket")
</div>







