@model Domain.Entityes.Product

@{
    ViewBag.Title = "Новий товар";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
@using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("SelectedSize", "new")
    @Html.Hidden("Photo", "new")
    <div class="form-horizontal">
        <table class="table table-bordered">
            <tr>
                <td>
                    <h4 align="center"><strong>Основні параметри</strong></h4 >
                    </td>
                
                <td>
                    <h4 align="center"><strong>Розміри</strong></h4>
                </td>
                <td>
                    <h4 align="center"><strong>Фото</strong></h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Назва товару" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Ціна товару" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @Html.LabelFor(model => model.Composition, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Composition, new { htmlAttributes = new { @class = "form-control", style = "height: 60px; margin-left: 20px; margin-right: 20px;", placeholder = "Склад товару" } })
                            @Html.ValidationMessageFor(model => model.Composition, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Density, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Density, new { htmlAttributes = new { @class = "form-control", style = "height: 60px; margin-left: 20px; margin-right: 20px;", placeholder = "Щільність товару" } })
                            @Html.ValidationMessageFor(model => model.Density, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Producer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Країна - виробник" } })
                            @Html.ValidationMessageFor(model => model.Producer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", style = "height: 60px; margin-left: 20px; margin-right: 20px;", placeholder = "Опис товару" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Style, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Style, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Стиль" } })
                            @Html.ValidationMessageFor(model => model.Style, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.EditorFor(model => model.S) <strong style="">S</strong>
                                @Html.ValidationMessageFor(model => model.S, "", new { @class = "text-danger" })
                            
                    <br />
                      @Html.EditorFor(model => model.M) <strong style="">M</strong>
                                @Html.ValidationMessageFor(model => model.M, "", new { @class = "text-danger" })
                           

                    <br />
                     @Html.EditorFor(model => model.L) <strong style="">L</strong>  
                                @Html.ValidationMessageFor(model => model.L, "", new { @class = "text-danger" })
                        

                    <br />
                    @Html.EditorFor(model => model.Xl) <strong style="">XL</strong>  
                                @Html.ValidationMessageFor(model => model.Xl, "", new { @class = "text-danger" })
                   

                   
                    <br />
                    @Html.EditorFor(model => model.Xxl) <strong style="">XXL</strong> 
                                @Html.ValidationMessageFor(model => model.Xxl, "", new { @class = "text-danger" })
                         
                    <br />
                    @Html.EditorFor(model => model.Xl3) <strong style="">3XL</strong>  
                                @Html.ValidationMessageFor(model => model.Xl3, "", new { @class = "text-danger" })
                     

                    <br />
                   @Html.EditorFor(model => model.Xl4) <strong style="">4XL</strong>  
                    @Html.ValidationMessageFor(model => model.Xl4, "", new { @class = "text-danger" })

                </td>
                <td>
                    <div >
                        <div >
                            <h4>
                                оберіть фото товару
                            </h4>
                            <input type="file" name="upload" dirname="Обрати фото" velue="Обрати фото"/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
            <div class="col-md-offset-2 col-md-10">
                <h4 align="center" style="color: red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h4>
                
                    <a href="/Admin/MyPanel">
                        <input id="Button" type="button" value="Повернутись назад" class="btn btn-default" style="float: right; background-color: aquamarine"/>
                    </a>
<input type="submit" value="Створити товар" class="btn btn-default" style="float: left; background-color: aquamarine"/>
            </div>
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />