@model Domain.Entityes.Slider
@{
    ViewBag.Title = "Редагування слайду";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("SlidePhoto", "new")
    <div class="form-horizontal">
        <h4 align="center" style="color: red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h4>
        <table  class="table table-bordered">
            <tr>
                <td>
                    <h4 align="center">Основні параметри</h4>
                </td>
                <td>
                    <h4 align="center">Фото</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Назва слайду" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", style = "margin-left: 20px;margin-right: 20px;", placeholder = "Номер слайду" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlideDescription, new { htmlAttributes = new { @class = "form-control", style = "height: 200px; margin-left: 20px; margin-right: 20px;", placeholder = "Опис слайду" } })
                            @Html.ValidationMessageFor(model => model.SlideDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div Id="slidePhotoPartial">
                        @Html.Partial("SlidePhoto", Model)
                    </div>
                    <div>
                    <table>
                        <tr>
                            <td>
                                <input type="button" value="Додати фото до слайду" id="btnFileUpload">
                            </td>
                            <td>
                                <input id="fileInput" type="file">
                            </td>
                        </tr>
                    </table>
                   </div>
                    <script type="text/javascript">
                        $(document)
                            .ready(function() {
                                $("#btnFileUpload")
                                    .click(function() {
                                        var formData = new FormData();
                                        formData.append("slideId", '@Model.SlideId');
                                        var file = document.getElementById("fileInput").files[0];
                                        if (file == null)
                                            return false;
                                        formData.append("fileInput", file);
                                        $.ajax({
                                            url: "/Admin/UploadSlidePhoto",
                                            type: "POST",
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            success: function(data) {
                                                $("#slidePhotoPartial").html(data);
                                            }
                                        });
                                        return true;
                                    });
                            })
                    </script>
                </td>
            </tr>
        </table>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти зміни" class="btn btn-default" style="background-color:  aquamarine" />
                <a href="/Admin/SliderResult" style="float: right">
                    <input id="Button1" type="button" value="Повернутися назад" class="btn btn-default" style="background-color:  aquamarine"/>
                </a>
            </div>
        </div>
    </div>
}
