@model IEnumerable<Domain.Entityes.Product>
@if (TempData["message"] != null)
{
    <div class="alert alert-success" align="center"><h3>@TempData["message"]</h3></div>
}

<table class="table table-bordered">
    <tr>
        <th class="text-center">
            Фото
        </th>
        <th class="text-center">
            Назва
        </th>
        <th class="text-center">
            Ціна
        </th>
        <th class="text-center">
            Склад
        </th>
        <th class="text-center">
            Щільність
        </th>
        <th class="text-center">
            Країна-виробник
        </th>
        <th class="text-center">
            Опис
        </th>
        <th class="text-center">
            Стиль
        </th>
        <th class="text-center">
            &nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;
        </th>
        <th class="text-center">
            &nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;
        </th>
        <th class="text-center">
            &nbsp;&nbsp;L&nbsp;&nbsp;&nbsp;
        </th>
        <th class="text-center">
            &nbsp;&nbsp;XL&nbsp;
        </th>
        <th class="text-center">
            XXL
        </th>
        <th class="text-center">
            3XL
        </th>
        <th class="text-center">
            4XL
        </th>
        <th class="text-center">
            Дії над товаром
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
              <img src="~/PhotoForDB/@i.Photo" width="60" height="70" />
            </td>
            <td>
                <i>@i.Name</i>
            </td>
            <td>
                @(i.Price) грн.
            </td>
            <td>
               @Html.DisplayFor(modelItem => i.Composition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.S)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.M)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.L)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Xl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Xxl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Xl3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.Xl4)
            </td>

            <td class="text-center">
                @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Get))
                {
                    @Html.Hidden("ProductId", i.ProductId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           style="background-color:  aquamarine"
                           value="Редагувати" />
                }
                <br/>
                <input class="btn btn-default btn-xs" id="@(i.ProductId + "Dell")" onClick="getElementById('@(i.ProductId + "DellModal")').removeAttribute('style');" type="button" value="&nbsp; Видалити &nbsp;" style="background-color: bisque" />

                <div id="@(i.ProductId + "DellModal")" style="display:none;">
                    <div class="overlayModal"></div>
                    <div class="visibleModal">
                        <h4 align="center">Товар - <strong>"@i.Name"</strong></h4>
                        <br />
                        <h4 align="center" style="color: red">Ви точно хочете видалити цей товар?</h4>
                        <input id="@(i.ProductId + "DellYes")" onClick="getElementById('@(i.ProductId + "DellModal")').style.display = 'none';" type="button" value="&nbsp;&nbsp;&nbsp; Так &nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="margin: 50px; float: left; background-color: aquamarine" />
                        <input id="@(i.ProductId + "DellNo")" onClick="getElementById('@(i.ProductId + "DellModal")').style.display = 'none';" type="button" value="&nbsp;&nbsp;&nbsp; Ні &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default" style="margin: 50px; float: right; background-color: aquamarine" />
                        <br />
                    </div>
                </div>
                <script>
                        $(document)
                               .ready(function () {
                                   $("#@(i.ProductId + "DellYes")")
                                       .click(function () {
                                           var data = {
                                               productId: ('@i.ProductId')
                                           };
                                           $.ajax({
                                               url: "/Admin/DeleteProduct",
                                               type: "POST",
                                               data: data,
                                               success: function (data) {
                                                   $("#divProductInAdmin").html(data);
                                               }
                                           });
                                       });
                               });
                </script>
                @*@using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
                {
                    @Html.Hidden("ProductId", i.ProductId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           style="background-color: bisque"
                           value="&nbsp; Видалити &nbsp;" />
                }*@
            </td>
        </tr>
    }

</table>
